xcuserdata/
JMRI Framework.xcodeproj/project.xcworkspace/xcuserdata/rhwood.xcuserdatad/UserInterfaceState.xcuserstate
JMRI Framework.xcodeproj/project.xcworkspace/xcuserdata/rhwood.xcuserdatad/xcschememanagement.plist

JMRI Framework.xcodeproj/xcuserdata/rhwood.xcuserdatad/xcschemes/JMRI.Framework.xcscheme

JMRI Framework.xcodeproj/xcuserdata/rhwood.xcuserdatad/xcschemes/libJMRI.xcscheme

JMRI Framework.xcodeproj/xcuserdata/rhwood.xcuserdatad/xcschemes/xcschememanagement.plist
