xcuserdata/
JMRI Framework.xcodeproj/project.xcworkspace/xcuserdata/rhwood.xcuserdatad/UserInterfaceState.xcuserstate
JMRI Framework.xcodeproj/project.xcworkspace/xcuserdata/rhwood.xcuserdatad/xcschememanagement.plist
